body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.card {
    background: white;
    padding: 30px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}